*{
    box-sizing: border-box;
    padding: 0px 0px;
    margin: 0px 0px;
    z-index: 2;
}


/* Header */

header{
    background-color: black;
}

.navigation::before{
    content: "";
    position: absolute;
    background: url('./headerBefore.webp') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90%;
    z-index: 1;
    opacity: .5;

}
header{
    width: 100%;
    height: 90vh;
    /* background-color: black; */
}

/* DropDown Button */

.dropDown{
    display: none;
    /* border: 4px solid black; */
    width: 40px;
    height: 38px;
    padding: 3px;
    margin: 20px 40px 0px 20px;
    position: relative;
}

.lines{
    margin-bottom: 5px;
    background-color: white;
    width: 25px;
    height: 4.5px;
}

.dropDown:hover .DDbox{
    display: block;
    cursor: pointer;
}

.DDbox{
    display: none;
    background-color: gray;
    width: 150px;
    height: 200px;
    padding-left: 20px;
    position: relative;
    left: -10px;

}
.DDbox a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.DDboxContent{
    /* border: 2px solid black; */
    padding: 10px;
    width: 100px;
    height: 30px;
}

/* Logo */

.logo{
    background: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg') no-repeat center center/cover;
    width: 7rem;
    height: 6rem;
}


/* Navbar List */

.navigation{
    display: flex;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 8vw;
    margin: auto;
}

.navigation ul li{
    display: flex;
    /* font-family: mv boli; */
    font-weight: bolder;
    font-size: 1.5rem;
    list-style: none; 
    padding: 10px; 
    height: 50px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

li:hover {
    box-shadow: 0px 0px 10px 10px white;

}

.navigation ul li a{
    color: white;
    text-decoration: none;
    /* color: white; */
}

/* Section */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 70vh;
    margin: auto;
    
}

section h1{
    font-size: 5rem;
    margin: 10px;
    color: white;
}
section p{
    color: white;
    padding: 30px;
    font-size: 1.5rem;
}

/* Booking Button */

.bookBtn{
    margin: auto;
    box-shadow: 0px 0px 4px 5px white;
    width: 100px;
    height: 40px;
    padding: 10px;
    position: relative;
    color: white;
}

.BBlink{
    display: none;
    color: black;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

/* Map And Contact Details */

.details{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    padding: 40px 20px 20px 20px;
    gap: 10px;
}

.mapouter, .HCD{
    /* border: 2px solid black; */
    border-radius: 10px;
    width: 50%;
}

.gmap_canvas{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: none;
    border-radius: 10px;
}

.gmap_canvas iframe{
    width : 100%;
    height: 100%;
}

/* Contact Us */
 #table1{
    /* border: 2px solid black; */
    width: 100%;
    height: 70%;
    font-size: 2rem;
    text-align: center;
}


.HCD table th{
    text-align: left;
    padding-left: 30px;
}

.HCD table tr td img{
    /* padding: 5px; */
    width: 20px;
    height: 20px;
}
#table2{
    width: 100%;
    height: 30%;
    font-size: 2rem;
}
#table2 td {
    padding-left: 30px;
}
#imgg{
    padding-left: 20px;
}

a{
    text-decoration: none;
}

/* Form */

form{
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px 15px floralwhite;
    border-radius: 20px;
    margin: auto;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:floralwhite;
}

form .box {
    height: 120px;
    font-size: 1.7rem;
}

.formHead , .query, .remark{
    width: 74%;
    padding: 25px;
}
.formHead input, .query input, .remark input{
    width: 100%;
    height: 5vh;
    font-size: 1rem;
    margin-top: 10px;
}

.number, .email{
    display: inline-block;
    padding: 10px;
    font-size: 1.7rem;
}
.number input, .email input{
    width: 32.4vw;
    height: 5vh;
    margin-top: 15px;

}


.submit input{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    font-size: 1rem;
}


/* Social Handles */

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
}

.socialLinks{
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
}

#facebook{
    background: url('./facebook.png') no-repeat center center/cover;
}

#insta{
    background: url('./instagram.png') no-repeat center center/cover;
}

#twitter{
    background: url('./twitter.png') no-repeat center center/cover;
}

#linkedin{
    background: url('./linkedin.png') no-repeat center center/cover;
    
}

#printerest{
    background: url('./pinterest.png') no-repeat center center/cover;

}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
}


@media (min-width:1024px) and (max-width:1280px) {
    .navigation ul li{
        font-size: 1.3rem;
    }
    section h1{
        font-size: 3rem;
    }
    section p{
        padding: 20px;
        font-size: 1.5rem;
    }
    .box{
        font-size: 1rem;
        padding: 40px 0px 0px 10px;
    }
    input , select{
        width: 100px;
    }
}


@media (min-width:767px) and (max-width:1024px){
    .navigation ul li{
        font-size: 1rem;
    }
    section h1{
        font-size: 3rem;
    }
    section p{
        padding: 20px;
        font-size: 1.25rem;
    }
    .box{
        font-size: 1rem;
        padding: 40px 0px 0px 10px;
    }
    input , select{
        width: 100px;
    }

    #table1{
        font-size: 1.2rem;
    }

    #table2{
        font-size: 1.2rem;
    }


}


@media (min-width:480px) and (max-width:767px){
    .dropDown{
        display: inline-block;
    }
    .navigation{
        height: 100px;
        display: block;
    }
    .logo{
        position: relative;
        float: right;
        width: 90px;
        height: 90px;
    }
    .navigation ul{
        display: none;
    }
    section h1{
        font-size: 2.5rem;
    }
    section p{
        padding: 20px;
        font-size: .9rem;
    }
    .BBlink{
        display: block;
    }

    .details{
        height: 50%;
        padding: 15px 0px 15px 0px;
        gap: 1px;
    }

    #table1{
        font-size: .8rem;
    }

    #table2{
        font-size: .8rem;
    }

    #table2 td{
        padding-left: 10px;
    }

    #imgg{
        padding: 0px;
    }

    form .box {
        font-size: 1.4rem;
    }

    .number, .email{
        padding: 5px;
        font-size: 1.2rem;
    }

    .number input, .email input{
        width: 32.4vw;
    }

    .socials{
        gap: 23px;
    }
    .socialLinks{
        padding: 0px;
        width: 40px;
        height: 40px;
    }

    .socials div h1{
        display: none;
    }
}
@media (min-width:250px) and (max-width:480px){
    .dropDown{
        display: block;
    }
    .dropDown{
        display: inline-block;
    }
    .navigation{
        display: block;
        height: 75px;
    }
    .logo{
        float: right;
        position: relative;
        width: 70px;
        height: 70px;
    }
    .navigation ul{
        display: none;
    }
    #serviceHead h4 {
        font-size: 15px;
    }
    #serviceHead h1 {
        font-size: 30px;
    }
    section h1{
        font-size: 1.7rem;
    }
    section p{
        padding: 20px;
        font-size: .8rem;
    }
    .BBlink{
        display: block;
    }
    
    .details{
        padding: 50px 10px 20px 10px ;
        height: 100%;
        flex-direction: column;
    }

    .mapouter, .HCD{
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }

    #table1{
        font-size: 1rem;
    }
    #table2{
        font-size: 1rem;
    }

    #table2 td{
        padding-left: 5px;
    }

    #imgg{
        padding: 5px;
    }
    
    form .box {
        font-size: 1rem;
    }

    .number, .email{
        padding: 5px;
        font-size: 1rem;
    }

    .socials{
        gap: 23px;
    }
    .socialLinks{
        width: 40px;
        height: 40px;
    }

    .socials{
        gap: 10px;
    }
    .socials div h1{
        display: none;
    }

}